body {
    font-family: "Avenir Next", Helevetica, sans-serif;
    background: grey;
}

li {
    list-style-type: none;
    border: 1px solid grey;
    width: 80%;
    position: relative;
}

.title {
    text-align: center;
}

.delete-button {
    background:rgb(243, 27, 63);
    border: none;
    position: absolute;
    right: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

#main {
    background: rgb(206, 198, 198);
    width: 50%;
}